@model CreateExpensesVM

@{
    ViewData["Title"] = "Create Expenses";
}

<div class="row">
    <h4>Create Expenses for @Model.Cashier.Day.ToString("dd/MM/yyyy")</h4>
    <div class="col-md-6 offset-3 mt-3">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label class="form-label" asp-for="@Model.Cashier.Card"></label>
            <input class="form-control" type="number" asp-for="@Model.Cashier.Card" readonly />
        </div>
        <div class="form-group my-3">
            <label class="form-label" asp-for="@Model.Cashier.Cash"></label>
            <input class="form-control" type="number" asp-for="@Model.Cashier.Cash" readonly />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="@Model.Cashier.Day"></label>
            <input class="form-control" asp-for="@Model.Cashier.Day" type="date" readonly />
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 offset-3">
        <table class="table" id="expenses">
            <thead>
                <tr class="text-center">
                    <th class="expenses-data-headers">Description</th>
                    <th class="expenses-data-headers">Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-body">
                <tr id="expenses-input-row" class="text-center">
                    <td><input id="description" type="text" asp-for="@Model.Expense.Description" /></td>
                    <td><input id="price" type="number" asp-for="@Model.Expense.Value" /></td>
                    <td><button id="addBtn" class="btn btn-secondary">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-4 mt-3">
        <a class="btn btn-outline-secondary" asp-controller="Cashiers" asp-action="Index">Back</a>
        <button id="create-expenses-btn" class="btn btn-outline-primary float-end">Create</button>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#addBtn').click(function() {
                let expenseDescription = $('#description');
                let expensePrice = $('#price');

                if (!expenseDescription || !expensePrice) {
                    alert('Make sure that you provided both, Description and Value!');
                    return;
                }

                let markup = '<tr class="text-center expense-data"><td>' + expenseDescription.val() + '</td><td>' + expensePrice.val() + '</td><td></td></tr>';
                $('#expenses-input-row').before(markup);

                expenseDescription.val('');
                expensePrice.val('');
            });

            $('#create-expenses-btn').click(function() {
                let headers = [];
                $('tr .expenses-data-headers').each(function(i) {
                    headers.push($(this).text())
                });

                let data = [];
                let rowData = {};
                let index = 0
                $('tr.expense-data td').each(function() {
                   if($(this).text()) {
                       rowData[headers[index]] = $(this).text();
                       if(index == 1) {
                           data.push(rowData);
                           rowData = {}
                       }
                       if (index == 1) {
                           index = 0;
                       } else {
                           index = 1;
                       }
                   } else {
                       rowData = {}
                       index = 0
                   }
                });

                $.post('');
            });
        });
    </script>
}
